@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@562&display=swap');

html, body{
background-color: lightpink;
    font-family: 'Dancing Script', cursive;
    font-size: 1rem;
}

.navbar navbar-expand-lg navbar-light bg-light{

}

.navbar-gauche{
    display: flex;
    flex-direction: row;
}
.navbar-droite {
    display: flex;
    flex-direction: row;
    float: left;
    margin-left: 800px;
}

.accueil{
    color: white;
    text-align: center;
    font-size: 2rem;
    border: #dee2e6 solid 1px;
    margin: 20px 20px 100px 20px;

}

form{
    margin-right: 10px;
    padding-top: 10px;
}

fieldset{
    border: solid white 1px;
    margin-top: 10px;
    margin-right: 100px;
    margin-left: 200px;
    padding: 20px 20px 25px 20px;
    max-width: 600px;
}

legend {
    display: block;
    max-width: 40%;

    padding-left:.7rem ;


    margin-bottom: .5rem;

    font-size: 1.5rem;
    line-height:inherit;
    color: white;
    white-space: normal;
}

h1 {
    font-size: 2rem;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px pink;
}